*{
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
}

header{
    background-image: url(img/fond.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    height: 500px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
   
}

.alae{
    background-color: rgba(218, 197, 240, 0.7);
}

.alae ul{
    margin-top: 20px;
    list-style: none;
    display: inline-block;
    color: white;
    margin-right: 30px;
    
}
a{
   text-decoration: none; 
   color: white;
}
.reda{
      background-color: #ddcaea;
}
#par{
    font-size: 35px;
    margin-top: 120px;
}
section{
    width:90%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;

}

h2{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    margin-top: 20px;
    margin-bottom: 20px;
}
table
{
    border-collapse: collapse; 
    width: 90%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding

}
th{
    border: 1px solid black; 
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #c4a9de;
    color: white;
    font-family: 'Kaushan Script', cursive;
}
td
{
    border: 1px solid black;
}
#tab2{
    margin-top: 20px;
}
h3{
    font-family: 'Kaushan Script', cursive;
    margin-top: 20px;
    margin-bottom: 20px; 
    text-align: center;
}
fieldset{
    padding:50px;
    padding-bottom: 30px;
}
legend{
    /* width:90%;
    padding:50px;
    padding-bottom: 30px; */
    text-align: center;
}
p{
    text-align: center; 
}
#bouton{
    background-color: purple;
    color: white;
    margin-top: 20px;
    padding: 10px;
    outline: none;
    border: none;
     
}

